.app-wrapper {
  display: grid;
  grid-template-areas:
    "h"
    "content";
  grid-template-columns: 10fr;
  grid-template-rows: 40px 10fr;
  height: 100vh;
  width: 100vw;
}

nav {
  grid-area: h;
  background-color: rgb(31, 31, 31);
}

.app-wrapper > div {
  grid-area: content;
}
